<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Himsog</title>
<link href="/static/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/base.css" rel="stylesheet">
<style type="text/css">
.bodyContent {
    margin-top: 70px;
}
{% block page_css %}{% endblock %}
</style>
</head>

<body>

<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/himsog/home/">
                <img id="logo" alt="Brand" src="/static/img/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navlinks nav navbar-nav navbar-right">
                <li><a href="/himsog/">About Us</a></li>
            </ul>
            <form id="search-form" class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <input type="text" class="form-control search-form" placeholder="Search Himsog">
                        <span style="width: 5%;" class="input-group-btn">
                            <button type="submit" class="btn btn-success search-btn" data-target="#search-form">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="bodyContent">
{% block main %}{% endblock %}
</div>

<script src="/static/ext/jquery/jquery-3.1.0.min.js"></script>
<script src="/static/ext/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/csrf.js"></script>

{% block page_js %}{% endblock %}

<script>
</script>


</body>
</html>
