<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
 -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
<link href="/static/ext/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/ext/bootstrap-social/bootstrap-social.css" rel="stylesheet">
<!-- <link href="/static/ext/bootstrap4/css/lavish-bootstrap.css" rel="stylesheet"> -->
<link href="/static/css/base.css" rel="stylesheet">

{% load static %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
