<!-- <script src="/static/ext/jquery/jquery-3.1.0.min.js"></script>
<script src="/static/ext/tether/js/tether.min.js"></script>
<script src="/static/ext/bootstrap4/js/bootstrap.min.js"></script>
<script src="/static/ext/bootstrap/js/bootstrap.min.js"></script> -->
<script src="/static/ext/jquery/jquery-3.1.0.min.js"></script>
<script src="/static/ext/materialize/js/materialize.min.js"></script>
<script src="/static/js/csrf.js"></script>

{% load static %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script type="text/javascript" src="/static/js/infinitescroll.js"></script>
