<ul id="category-list" class="list-group borderless">
    <li class="nav-header disabled"><b>CATEGORIES</b></li>
    <button type="button" class="list-group-item">
    <span class="badge">6</span>
    All
    </button>
    <button type="button" class="list-group-item">
    <span class="badge">1</span>
    Category01
    </button>
    <button type="button" class="list-group-item">
    <span class="badge">2</span>
    Category02
    </button>
    <button type="button" class="list-group-item">
    <span class="badge">3</span>
    Category03
    </button>
</ul>
