{% extends "base.html" %}

{% block main %}

<div class="row">
    <div class="col-md-2">
    <!-- category list (filters) -->
    {% include "category_panel.html" %}
    </div>

    <div class="col-md-8 list-group" style="margin-top:18px">
    {% for content in contents %}
        <a href="/himsog/content/{{content.id}}" class="list-group-item"> {{content.title}} <br/> {{content.image}}</a>
    {% endfor %}
    </div>

    <div class="col-md-2">
    <!-- ads  -->
    {% include "ads.html" %}
    </div>
</div>

{% endblock %}
