{% load category_tags %} 

{% all_categories as categories %}
<ul id="category-list" class="list-group borderless">
	<li class="nav-header disabled"><b>CATEGORIES</b></li>
	<button type="button" class="list-group-item">
		<span class="badge">6</span> All
	</button>
	{% for category in categories %}
        <a href="{% url 'content_list_page' category.slug_name %}">
    	<button type="button" class="list-group-item">
    		<span class="badge">1</span> {{ category.name }}
    	</button>
        </a>
	{% endfor %}
</ul>


