{% extends "base.html" %}

{% load ratings %}
{% block main %}
<script src="/static/js/fb.js"></script>
<div class="row">
    <div class="col-md-2">
    <!-- category list (filters) -->
    {% include "category_panel.html" %}
    </div>

    <div class="col-md-8 list-group" style="margin-top:18px">
        <h2>{{ content.title }}</h2>
        {% for image in content.images.all %}
            <h3>{{ image.name }}</h3>
            <img src="{{ image.image.url }}" alt="{{ image.name }}"/>
        {% endfor %}
        
        {{ content.description | linebreaks }}
        {% ratings content %}
    </div>

    <div class="fb-comments" data-num-posts="2" data-width="470">
    </div>

    <div class="col-md-2">
    <!-- ads  -->
    {% include "ads.html" %}
    </div>
</div>
<!-- ads (depende pa sa layout paano papakita to)  -->
{% include "ads.html" %}

{% endblock %}
