{% extends "base.html" %}
{% load static %}

{% block main %}

{% include page_template %}

{% endblock %}

{% block page_css %}
.grid {
    margin: 0 auto;
}

.grid-item {
    width: 300px;
    float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

{% endblock %}

{% block page_js %}

<script src="/static/ext/masonry/masonry.pkgd.min.js"></script>
<script src="/static/ext/masonry/imagesloaded.pkgd.min.js"></script>
<script src="/static/ext/el-pagination/js/el-pagination.js"></script>

<script>

$(document).ready(function() {

    var $container = $(".grid").masonry({
        itemSelector : ".grid-item",
        columnWidth: 300,
        gutter: 25,
        fitWidth: true
    });

    $container.imagesLoaded().progress(function() {
        $container.masonry("layout");
    });

    function reloadFeeds(context, fragment) {
        var secondGrid = $(".grid").not(":first").html();

        $(".grid").first().append(secondGrid);
        $(".grid").not(":first").remove();

        var mdata = $container.data("masonry");
        if (mdata !== undefined) {
            mdata.reloadItems();
            mdata.layout();
        }

        $container.imagesLoaded().progress(function() {
            $container.masonry("layout");
        });
    }

    $.endlessPaginate({paginateOnScroll: true,
                       paginateOnScrollMargin: 20,
                       onCompleted: reloadFeeds});

});

</script>
{% endblock %}