{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="row">
    <div class="col-md-2">
    <!-- category list (filters) -->
    {% include "category_panel.html" %}
    </div>

    <div class="col-md-8 list-group" style="margin-top:18px">
    {% for content in contents %}
        <div class="card">
           <img class="card-img-top center" src="{% static 'img/unavailable.png' %}" alt="Image not available">
           <div class="card-block">
               <h4 class="card-title">{{ content.title }}</h4>
               <p class="card-text">{{ content.description | truncatewords:30 }}</p>
               <a href="/himsog/content/{{content.id}}" class="btn btn-primary">View</a>
           </div>
        </div>
    {% endfor %}

    </div>

    <div class="col-md-2">
    <!-- ads  -->
    {% include "ads.html" %}
    </div>
</div>

{% endblock %}

{% block page_css %}
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}