body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#logo {
    width: 34px;
    height: auto;
}

.navbar{
    background-image: url(/static/img/navimage02.jpg);
}

.navbar-brand {
    padding-top: 8px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-toggle {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
