/* .borderless .list-group-item {
    border: none;
}

#category-list button{
	background-color: #E9EAED;
}

#category-list li {
	color: #666666;
}

* {
	font-family: 'Open Sans', sans-serif;
} */

html, body {
    height: 100%;
    margin: 0;
}

div.fullpage {
    heighit: 100%;
    min-height: 100%;
}

html>body .fullpage {
    height: auto;
}

#landing-page {
  background-image: url(/static/img/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
	display: none;
}

#news-div {
	display: none;
}